/* This is purely for the demo */
.container {
    margin: 0 auto;
}

.plyr {
    border-radius: 4px;
    margin-bottom: 15px;
}

.navigation .logo {
    float: left;
    margin-top: 5px !important;
}

.logo .logo-img {
    float: left;
    width: 220px !important;
    height: 41px;
    margin-right: 12px;
}

.navigation .logo {
    float: left;
    margin-top: 5px !important;
}

.footer-top-brand .logo {
    margin-top: 10px !important;
}

.banner-slider {
    height: 560px !important;
}

.mobile-menu-wrap .logo-img {
    width: 150px !important;
    height: 41px;
    position: absolute;
    top: 22px;
    left: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .video-container {
        padding-bottom: 75%;
    }
}

/* Atur lebar video player agar selalu menyesuaikan lebar container */
#my-video {
    width: 100%;
}

/* Atur ukuran video player pada tampilan mobile */
@media screen and (max-width: 480px) {
    #my-video {
        height: 150px;
    }
}

/* Atur display flex pada vjs-control-bar */
.vjs-control-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Atur posisi ikon play pada tengah video player */
.vjs-big-play-button {
    margin: auto;
    z-index: 1;
    top: 45% !important;
    left: 45% !important;
}

.live-news-widget .live-news-widget-text {
    color: #8b8b8b;
    font-size: 1em !important;
    line-height: 40px;
}

.banner {
    padding: 50px 0 90px !important;
}

.banner-wrap.geeky-news {
    height: 150px !important;
}

.live-news-widget-wrap:before {
    left: 0;
    background-color: #0a387c !important;
}

.live-news-widget .live-news-widget-stairs.red .live-news-widget-stair {
    background-color: #0a387c !important;
}

.live-news-widget .live-news-widget-stairs.blue .live-news-widget-stair {
    background-color: #cb5201 !important;
}

.live-news-widget-wrap:after {
    background-color: #cb5201 !important;
}

video {
    width: 100%;
    height: 100%;
}

video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important;
}

.main-menu .main-menu-item-link:before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #e87826 !important;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.button.blue {
    background-color: #e87826 !important;
}

.button.blue .button-ornament {
    background-color: #e87826 !important;
}

/* Cookie Controler */
.cookie-container {
    font-family: Helvetica, Arial, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.cookie-box {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    padding: 0.5rem;
    margin: auto;
}

.cookie-text,
.cookie-action {
    width: 100%;
    padding: 0.5rem;
}

@media (min-width: 1080px) {
    .cookie-text {
        flex: 0 0 calc(70% - 16px);
    }

    .cookie-action {
        flex: 0 0 calc(30% - 16px);
        text-align: right;
    }
}

/* Button Style */
.btn-ctrl {
    padding: 0.75rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-blue {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-blue:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-outline-white {
    color: #fff;
    border-color: #fff;
}

.btn-outline-white:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-text-link {
    color: #007bff;
    text-decoration: none;
}

.btn-text-link:hover {
    color: #0056b3;
    text-decoration: underline;
}